﻿<div class="m-2 p-3 rounded overflow-hidden shadow-lg @OverviewCardItem.ColorClass">
    <div class="text-white text-center font-bold text-xl">@($"{OverviewCardItem.Number:n0}")</div>
    <p class="text-white text-center text-base">@OverviewCardItem.Title</p>
</div>