﻿<div class="max-w-full min-w-full mb-3 w-full">
    <div class="border border-gray-400 bg-white rounded-b p-4 flex flex-col justify-between leading-normal">
        <div class="mb-2">
            <p class="text-sm text-gray-600 flex items-center">As on @AsOnDate.ToString("dd MMM  yyyy")</p>
        </div>
        <div class="flex justify-around flex-row flex-wrap min-w-full">
            @foreach (var item in OverviewCardItems)
            {
                <OverviewCard OverviewCardItem="@item" />
            }
        </div>
    </div>
</div>