﻿@page "/{CountrySlug}"

<OverviewContainer OverviewCardItems="@_cardItems" AsOnDate="@_asOnDate" />

<table class="table-fixed min-w-full max-w-full">
    <thead>
        <tr>
            <th class="border px-4 py-1">Date</th>
            <th class="border px-4 py-1">Total Cases</th>
            <th class="border px-4 py-1">Total Deaths</th>
            <th class="border px-4 py-1">Total Recovered</th>
            <th class="border px-4 py-1">New Cases Today</th>
            <th class="border px-4 py-1">New Deaths Today</th>
            <th class="border px-4 py-1">New Recovered Today</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Date.ToString("dd/MM/yyyy")</td>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Confirmed</td>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Deaths</td>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Recovered</td>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Confirmed</td>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Deaths</td>
            <td class="border px-4 py-1 text-right">@_countryStatuses.FirstOrDefault()?.Recovered</td>
        </tr>
        @for (var i = 1; i < _countryStatuses.Count; i++)
        {
            <tr>
                <td class="border px-4 py-1 text-right">@_countryStatuses[i].Date.ToString("dd/MM/yyyy")</td>
                <td class="border px-4 py-1 text-right">@_countryStatuses[i].Confirmed</td>
                <td class="border px-4 py-1 text-right">@_countryStatuses[i].Deaths</td>
                <td class="border px-4 py-1 text-right">@_countryStatuses[i].Recovered</td>
                <td class="border px-4 py-1 text-right">@(_countryStatuses[i].Confirmed - _countryStatuses[i-1].Confirmed)</td>
                <td class="border px-4 py-1 text-right">@(_countryStatuses[i].Deaths - _countryStatuses[i-1].Deaths)</td>
                <td class="border px-4 py-1 text-right">@(_countryStatuses[i].Recovered - _countryStatuses[i-1].Recovered)</td>
            </tr>
        }
    </tbody>
</table>