﻿@page "/"

<OverviewContainer OverviewCardItems="@_cardItems" AsOnDate="@_asOnDate" />

<table class="table-fixed min-w-full max-w-full">
    <thead>
        <tr>
            <th class="border px-4 py-2"></th>
            <th class="border px-4 py-2">Country</th>
            <th class="border px-4 py-2">Total Cases</th>
            <th class="border px-4 py-2">Total Deaths</th>
            <th class="border px-4 py-2">Total Recovered</th>
            <th class="border px-4 py-2">New Cases Today</th>
            <th class="border px-4 py-2">New Deaths Today</th>
            <th class="border px-4 py-2">New Recovered Today</th>
            <th class="border px-4 py-2">As On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in _countryStats)
        {
            <tr>
                <td class="border px-4 py-2">
                    <img src="https://www.countryflags.io/@country.CountryCode/shiny/64.png" alt="@country.CountryName" />
                </td>
                <td class="border px-4 py-2">
                    <a href="/@country.Slug">@country.CountryName</a>
                </td>
                <td class="border px-4 py-2">@country.TotalConfirmed</td>
                <td class="border px-4 py-2">@country.TotalDeaths</td>
                <td class="border px-4 py-2">@country.TotalRecovered</td>
                <td class="border px-4 py-2">@country.NewConfirmed</td>
                <td class="border px-4 py-2">@country.NewDeaths</td>
                <td class="border px-4 py-2">@country.NewRecovered</td>
                <td class="border px-4 py-2">@country.Date.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>